body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header {
  background-color: #ff6b84;
  color: white;
  padding: 15px 20px;
  text-align: center;
}
nav {
  background-color: #c7475d;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
main {
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
footer {
  background-color: #c7475d;
  color: white;
  text-align: center;
  padding: 12px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: smaller;
}

/* Botão do tema */
.btn {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 20px;
  background-color: #c7475d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(199, 71, 93, 0.4);
}
.btn:hover {
  background-color: #ff6b84;
}

body.dark-theme {
  background-color: #ad8e8e;
  color: #eee;
}
body.dark-theme main {
  background-color: #c8a5a5;
  color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
body.dark-theme header{
      background-color: #a50b39;

}
body.dark-theme nav,
body.dark-theme footer {
  background-color: #55001a;
}
body.dark-theme nav a {
  color: #eee;
}
